version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel12_app
    ports:
      - "8082:80"
    volumes:
      - .:/var/www/html
      - ./apache/000-default.conf:/etc/apache2/sites-available/000-default.conf
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: laravel12_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel12
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: laravel12_phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8083:80"
    depends_on:
      - db

  node:
    image: node:22
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "5173:5173"
    command: >
      bash -c "
        npm install &&
        npm run dev -- --host 0.0.0.0
      "
      
volumes:
  mysql_data: